.borderOrange {
  width: 95%;
  margin-left: 10px;
  border-bottom: 1px solid orange;
}
/* .css-66gjpw-MuiResponsiveChart-container {
  width: 100% !important;
  height: 100% !important;
} */

.css-66gjpw-MuiResponsiveChart-container {
  width: 100% !important;
  height: 100% !important;
}

/* .css-eh057r {
  margin-top: 32px;
  width: 200px;
  height: 104px;
  margin: 20px;
} */
